.badge {
  background-color: tomato;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.badge--cog {
  width: 5px;
  height: 5px;
  position: absolute;
  left: 20px;
  bottom: 17px;
}

.badge--exclamation {
  width: 15px;
  height: 15px;
  background-color: inherit;
  color: tomato;
  border: 1px solid tomato;
  position: absolute;
  left: 125px;
  top: 7px;
}
